<div class="btn-camera">
  <ion-button class="btn-mais" *ngIf="!ehBrowser" fill="clear" (click)="abreOpcoesDeFoto()">
    <ion-icon class="btn-icone" name="add-circle" slot="icon-only" color="light" size="large"></ion-icon>
  </ion-button>

  <input *ngIf="ehBrowser" type="file" accept="image/*" id="input-file" (change)="selecionaImagemPeloBrowser($event)">
  <label *ngIf="ehBrowser" class="input-file-label" for="input-file">
    <ion-icon name="folder-open" slot="icon-only" color="light" size="large"></ion-icon>
  </label>
</div>
