<div class="btn-camera">
  <ion-item lines="none" detail="false" class="campo-form">
    <ion-button *ngIf="!ehBrowser" fill="clear" (click)="selecionaImagemPeloDispositivoMobile(this.camera.PictureSourceType.CAMERA)">
      <ion-icon name="camera" slot="icon-only" color="light" size="large"></ion-icon>
    </ion-button>

    <input *ngIf="ehBrowser" type="file" accept="image/*" id="input-file">
    <label *ngIf="ehBrowser" class="input-file-label" for="input-file" (click)="selecionaImagemPeloBrowser()">
      <ion-icon name="folder-open" slot="icon-only" color="light" size="large"></ion-icon>
    </label>

    <ion-button *ngIf="!ehBrowser" fill="clear" (click)="selecionaImagemPeloDispositivoMobile(this.camera.PictureSourceType.PHOTOLIBRARY)">
      <ion-icon name="folder-open" slot="icon-only" color="light" size="large"></ion-icon>
    </ion-button>
  </ion-item>
</div>
