<div class="btn-camera">
  <ion-item lines="none" detail="false" class="campo-form">
    <ion-button *ngIf="!ehBrowser" fill="clear" slot="start" (click)="selecionaFotoPeloDispositivoMobile(this.camera.PictureSourceType.CAMERA)">
      <ion-icon name="camera" slot="icon-only" color="light" size="large"></ion-icon>
    </ion-button>
    <ion-button fill="clear" slot="end" (click)="selecionaOpcaoArquivo()">
      <ion-icon name="folder-open" slot="icon-only" color="light" size="large"></ion-icon>
    </ion-button>
  </ion-item>
</div>
