.btn-camera {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  //margin-top: 8%;
  text-align: center;
}

.campo-form {
  --background: rgba(0, 0, 0, 0);
  margin-bottom: 5%;
  color: #fff;
}

#input-file {
  position: absolute;
  display: none;
}

/*.input-file-label {
  Whatever you want
}*/