.btn-camera {
  // margin-top: 4%;
  margin-bottom: 5%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.campo-form {
  --background: rgba(0, 0, 0, 0);
  color: #fff;
}

#input-file {
  position: absolute;
  display: none;
}

/*.btn-mais {
  position: absolute;
  margin-left: 10%;
  margin-top: -6%;
}*/

.btn-icone {
  width: 40px;
  height : 40px;
}
