<ion-content class="ion-padding" color="light">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-sm="8" size-md="6" size-lg="6" size-xl="6">
        <h1 class="ion-text-center">
          <ion-icon class="icon-size" name="alert" color="tertiary"></ion-icon>
        </h1>
        <div class="texto-principal">
          <h2>Esta página não está disponível!</h2>
          <br>
          <ion-button *ngIf="!ehBrowser" color="tertiary" (click)="retornaParaTelaDeLogin()">Retornar a Home</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
