ion-content {
  //--background: linear-gradient(#9580eb, #2d244e) !important;
  --background: linear-gradient(#6958AF, #38AECC) !important;
}

ion-input {
  --placeholder-color: #f4f5f8;
  --placeholder-opacity: 100%;
}

h1 {
  text-align: center;
  color: #6958AF;
  font-size: 20px;
}

// card do formulário
.card-form {
  border-radius: 15px;
  background: #fff;
}

.div-principal {
  padding-left: 2px;
  padding-right: 2px;
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-enviar {
  --border-radius: 8px !important;
}

// campos do formulario
.campo-form {
  --border-radius: 15px !important;
  --background: rgb(214, 214, 214);
  margin-bottom: 3%;
  color: #6958AF;
}

.campo-form ion-input {
  //font-weight: bold;
}

.separador-elems-login {
  height: 5%;
}

.separador-botoes {
  height: 2%;
}

.item-btn-enviar {
  --inner-padding-end: none;
}

.item-btn-enviar ion-button {
  height: 45px;
  width: 110px;
}

img {
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}
