<ion-content class="ion-padding" color="primary">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-sm="8" size-md="6" size-lg="6" size-xl="3">

      <img src="../assets/img/paisdepet-logo.png"/>

      <ion-textarea class="ion-text-justify" color="light">Se você fez cadastro com email e senha, basta digitar seu email no campo abaixo. Você vai receber um email com as informações para alteração de sua senha.</ion-textarea>

      <form [formGroup]="emailForm" (submit)="redefinirSenha()">
        <ion-item lines="none" class="campo-form">
          <ion-input
            formControlName="email"
            type="email"
            placeholder="Email"
            inputmode="email"
          ></ion-input>
          <ion-note slot="end" color="tertiary" *ngIf="email.dirty && email.hasError('required')">
            Obrigatório
          </ion-note>
          <ion-note slot="end" color="tertiary" *ngIf="email.dirty && email.hasError('email')">
            Email Inválido
          </ion-note>
          <ion-icon name="mail" color="light" slot="end"> </ion-icon>
        </ion-item>

        <div class="separador-elems-login"></div>

        <ion-button
          type="submit"
          expand="block"
          shape="round"
          color="tertiary"
          [disabled]="emailForm.invalid">
          Enviar
        </ion-button>

        <div class="separador-botoes"></div>
      </form>

        <ion-button
          expand="block"
          fill="clear"
          shape="round"
          color="light"
          (click)="retornarParaTelaDeLogin()"
          >- Retornar -
        </ion-button>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
