<ion-content class="ion-padding">
  <div class="div-principal">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size-sm="8" size-md="6" size-lg="6" size-xl="3">
          <ion-card class="card-form">
            <ion-card-header>
              <h1 color="primary">Alteração de senha</h1>
            </ion-card-header>
            <ion-card-content>
              <ion-textarea readonly class="ion-text-justify" color="primary"
                >Digite o email do cadastro no campo abaixo. Você vai receber um email com as
                informações para alteração de sua senha.
              </ion-textarea>

              <form [formGroup]="emailForm" (submit)="redefinirSenha()">
                <ion-item lines="none" class="campo-form">
                  <ion-label position="stacked">Email</ion-label>
                  <ion-input formControlName="email" type="email" inputmode="email"></ion-input>
                  <ion-note
                    class="ion-align-self-center"
                    slot="end"
                    color="primary"
                    *ngIf="email.dirty && email.hasError('required')"
                    >Obrigatório</ion-note
                  >
                  <ion-note
                    class="ion-align-self-center"
                    slot="end"
                    color="primary"
                    *ngIf="email.dirty && email.hasError('email')"
                    >Email Inválido</ion-note
                  >
                  <ion-icon class="ion-align-self-center" name="mail" color="primary" slot="end">
                  </ion-icon>
                </ion-item>

                <div class="separador-elems-login"></div>

                <ion-button
                  class="btn-enviar"
                  type="submit"
                  expand="block"
                  shape="round"
                  color="primary"
                  [disabled]="emailForm.invalid"
                  >Enviar</ion-button
                >

                <div class="separador-botoes"></div>
              </form>

              <ion-button
                expand="block"
                fill="clear"
                shape="round"
                color="primary"
                (click)="retornarParaTelaDeLogin()"
                >- Retornar -</ion-button
              >
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
