ion-menu {
  min-width: 250px !important;
  max-width: 250px !important;
}

ion-icon {
  border: solid 2px #fbcb6e;
  border-radius: 100px;
}

/*ion-toolbar {
  border-radius: 0px 0px 0px 0px;
}*/

ion-content {
  --background: linear-gradient(#6958af, #38aecc) !important;
}

/*ion-header {
  height: 200px !important;
  background: linear-gradient(#6958af, #38aecc) !important;
} */

// ion-avatar com img dentro
.avatar {
  border: solid 3px #a89cd7;
  margin: auto;
  margin-top: 10%;
  text-align: center;
  width: 70px;
  height: 70px;
}

.split-pane-side {
  border-right: 0px !important;
}

.lista-menu {
  background-color: rgba(0, 0, 0, 0);
  margin-top: 25%;
}

// img quando selecionada foto
.img-avatar {
  width: 100%;
  margin: auto;
  object-fit: cover;
  //top: 10%;
}

.nome-menu {
  text-align: center;
  margin-top: 5%;
  font-size: 12pt;
}

.email-menu {
  text-align: center;
  margin-top: 2%;
  font-size: 9pt;
}

/*:hover.item-menu {
  color: rgb(94, 87, 87);
  background: rgb(2, 2, 2);
  --color-hover: #000;
}

:hover.item-menu ion-icon {
  color: #000;
}*/
