.div-principal {
  padding-left: 2px;
  padding-right: 2px;
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icone-7em {
  font-size: 5em;
  margin-bottom: 10%;
}

.btn-fechar {
  position: relative;
}
