ion-content {
  --background: rgb(119, 100, 196) !important;
  //--background: linear-gradient(#6958AF, #38AECC) !important;
  //--background: linear-gradient(#8470d6, #322953) !important;
}

.div-principal {
  padding-left: 2px;
  padding-right: 2px;
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icone-7em {
  font-size: 5em;
  margin-bottom: 10%;
}

.btn-fechar {
  position: relative;
}
