<!-- <ion-header no-border no-shadow>
  <ion-toolbar color="translucent">
    <pdp-menu-toggle slot="start" menu="main-menu"></pdp-menu-toggle>
    <pdp-profile-button slot="end" menu="main-menu"></pdp-profile-button>
    <pdp-logout-button slot="end" menu="main-menu"></pdp-logout-button>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-item class="header" lines="none">
    <pdp-menu-toggle slot="start" menu="main-menu"></pdp-menu-toggle>
    <pdp-profile-button slot="end" menu="main-menu"></pdp-profile-button>
    <pdp-logout-button slot="end" menu="main-menu"></pdp-logout-button>
  </ion-item>
  <!-- <div class="background"></div> -->
  <img src="../assets/img/paisdepet-logo.png" />
</ion-content>
