ion-input {
  --placeholder-color: #f4f5f8;
  --placeholder-opacity: 100%;
}

.div-principal {
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

// ion-avatar com img dentro
.avatar-img {
  border: solid 4px #A89CD7;
  margin: auto;
  margin-top: 5%;
  text-align: center;
  width: 130px;
  height : 130px;
}

// img quando selecionada foto
.img-avatar-selecionada {
  width: 100%;
  margin: auto;
  object-fit: cover;
  top: 10%;
}

// img default (boneco profile)
.img-avatar-default {
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  text-align: center;
  width: 90px;
  height : 90px;
}

.item-btns {
  --background: rgba(0, 0, 0, 0);
  color: #fff;
}

// campos do formulario
.campo-form {
  --border-width: 2px;
  --border-color: #f4f5f8;
  --border-radius: 100px;
  --background: rgba(0, 0, 0, 0);
  margin-bottom: 3%;
  color: #fff;
}

// separador dos campos de login
.separador-elems-login {
  height: 3%;
}

// separador img do formulario de login
.separador-img-login {
  height: 8%;
}

// imagem logo do pais de pet
.img-logo {
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  // margin-top: 15%;
}