ion-content {
  --background: linear-gradient(#6958AF, #38AECC) !important;
  //--background: linear-gradient(#8470d6, #322953) !important;
}

// ion-avatar com img dentro
.avatar {
  border: solid 4px #66AB8C;
  background-color: #66AB8C;
  box-shadow: 0px 6px 10px rgba(180, 180, 180, 0.5);
  display: flex;
  position: fixed;
  top: 20%;
  align-items: center;
  left: 47.7%;
  width: 90px;
  height : 90px;
}

.btn-escolhe-foto {
  display: block;
  margin-top: 11%;
}

// campos do formulario
.campo-form {
  --border-radius: 15px !important;
  --background: rgb(224, 224, 224);
  margin-bottom: 3%;
  color: #6958AF;
}

.campo-form ion-input {
  //font-weight: bold;
}

// card do formulário
.card {
  border-radius: 15px;
  background: #fff;
}

// primeira div (engloba o ion-grid)
.div-principal {
  padding-left: 2px;
  padding-right: 2px;
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

// imagem logo do pais de pet
.img-logo-app {
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-logo-dome {
  max-width: 150px;
  max-height: 150px;
  width: auto;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// img quando selecionada foto
.img-avatar-selecionada {
  width: 100%;
  margin: auto;
  object-fit: cover;
}

// img default (boneco profile)
.img-avatar-default {
  display: block;
  margin: auto;
  width: 60px;
  height: 60px;
}

.item-btns {
  --background: rgba(0, 0, 0, 0);
  color: #fff;
}



.item-btn-entrar {
  --inner-padding-end: none;
}

.item-btn-entrar ion-button {
  height: 45px;
  width: 110px;
}

// separador dos campos de login
.separador-elems-login {
  height: 3%;
}

// separador img do formulario de login
.separador-img-login {
  height: 8%;
}