/*ion-content {
  // --background: linear-gradient(#6958AF, #38AECC) !important;
  --background: linear-gradient(rgba(105,88,175,1), rgba(255,0,0,0)) !important;
} */

.div-principal {
  padding-left: 2px;
  padding-right: 2px;
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

// ion-avatar com img dentro
.avatar-img {
  border: solid 4px #A89CD7;
  margin: auto;
  margin-top: 5%;
  text-align: center;
  width: 130px;
  height : 130px;
}

// img quando selecionada foto
.img-avatar-selecionada {
  width: 100%;
  margin: auto;
  object-fit: cover;
  top: 10%;
}

// img default (boneco profile)
.img-avatar-default {
  display: block;
  margin: auto;
  text-align: center;
  width: 90px;
  height : 90px;
}

.item-btns {
  --background: rgba(0, 0, 0, 0);
  color: #fff;
}

// campos do formulario
.campo-form {
  --border-radius: 15px !important;
  --background: rgb(214, 214, 214);
  margin-bottom: 3%;
  color: #6958AF;
}

.campo-form ion-input {
  font-weight: bold;
}

.btn-entrar {
  --border-radius: 8px !important;
}

// separador dos campos de login
.separador-elems-login {
  height: 3%;
}

// separador img do formulario de login
.separador-img-login {
  height: 8%;
}

// imagem logo do pais de pet
.img-logo-app {
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-logo-empresa {
  max-width: 75px;
  max-height: 75px;
  width: auto;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}